@using BudgetApp.ViewModels;
@using BudgetApp.ViewModels.UserViewModels;
@model EntityCollectionVM<UserRoleDetailVM>

<div class="my-4">
    <div class="row">
        <div class="col-md-4">
            <label class="h5 text-theme">Users</label>
        </div>
    </div>
    <div class="row header-theme m-0 rounded-2 align-items-center text-center py-2">
        <div class="col-3">
            First Name
        </div>
        <div class="col-3">
            Last Name
        </div>
        <div class="col-3">
            Role
        </div>
        <div class="col-3">
            <a href="@Url.Action("InviteUser","Invite", new { entityId = Model.EntityId, entityType = nameof(Budget), returnUrl = Model.ReturnUrl })">
                <i class="bi icon-theme-contrast bi-plus-circle" style="font-size: 1.5rem"></i>
            </a>
        </div>
    </div>

    @if (Model.EntityItems.Count() == 0)
    {
        <div class="row row-theme m-0 rounded-2 text-center py-2">
            <div class="col-12">
                No Users to Display
            </div>
        </div>
    }
    else
    {
        foreach (UserRoleDetailVM user in Model.EntityItems)
        {
            <div class="row row-theme m-0 border rounded-2 align-items-center text-center py-2">
                <div class="col-3">
                    @user.FirstName
                </div>
                <div class="col-3">
                    @user.LastName
                </div>
                <div class="col-3">
                    @user.Role
                </div>
                <div class="col-3">
                    <div class="row">
                        <div class="col-6">
                            <a href="@Url.Action("Edit", "User", new { userId = user.UserId, entityId = Model.EntityId, returnUrl = Model.ReturnUrl})">
                                <i class="bi icon-theme bi-pencil-square" style="font-size: 1.5rem"></i>
                            </a>
                        </div>
                        <div class="col-6">
                            <a onclick="ShowConfirmModal('Are you sure you want to delete this user?', '@Url.Action("Remove", "User", new { userId = user.UserId, entityId = Model.EntityId, returnUrl = Model.ReturnUrl })')">
                                <i class="bi icon-theme bi-trash" style="font-size: 1.5rem"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>